<table>
    <caption>
        <h1>ПОДПИСКИ</h1>
    </caption>
    <thead>
        <th>id</th>
        <th>ИНДЕКС ИЗДАНИЯ</th>
        <th>СРОК ПОДПИСКИ (в месяцах)</th>
        <th>МЕСЯЦ НАЧАЛА ПОДПИСКИ</th>
        <th>ГОД НАЧАЛА ПОДПИСКИ</th>
        <th>КОД ПОЛУЧАТЕЛЯ</th>
    </thead>
    <tbody>
        <% results.forEach(result => { %>
            <tr> 
                <td> <%= result['id'] %> </td>
                <td> <%= result['ИНДЕКС_ИЗДАНИЯ'] %> </td>
                <td> <%= result['СРОК_ПОДПИСКИ'] %> </td>
                <td> <%= result['МЕСЯЦ_НАЧАЛА_ДОСТАВКИ'] %> </td>
                <td> <%= result['ГОД_НАЧАЛА_ПОДПИСКИ'] %> </td>
                <td> <%= result['ПОЛУЧАТЕЛИ_КОД_ПОЛУЧАТЕЛЯ'] %> </td>
            </tr>
    
         <% }) %> 
    </tbody>
</table>